<%- include('header', {pagetitle: 'Maintenance - Create Machine'}) -%>

<main class="container">
    <form method="POST">
        <h1 class="p-1">
            Create Machine
        </h1>
        <div class="mb-3">
            <label for="name" class="form-label fw-bold">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="factory" class="form-label fw-bold">Factory</label>
            <input type="text" class="form-control" id="factory" name="factory">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-danger" href="/machine">Cancel</a>
    </form>
</main>

<%- include('footer') -%>
